<h1 class="text-center mt-4">Listing all articles</h1>
<!--<%#= link_to "Create new Article", new_article_path %><br>-->
<%#= link_to "Return to HomePage", root_path %>

<%= render 'articles/article' %>